<div class="md:mt-16 items-center z-10">
    <p class="mb-5 px-5 ">WORK</p>
    <div class="text-5xl font-bold mb-10">
        <p class="px-5">We build good products in record time</p>
        <div class="flex flex-nowrap overflow-auto pt-9 px-5 leading-10">
            <div class="chip" *ngFor="let category of categories;" [ngClass]="{'active': category.active }"
                (click)="activeChip(category)">
                {{ category.title }}
            </div>
        </div>
    </div>
    <div *ngIf="worklistFilter.length > 0; then worklistTemplateData; else worklistTemplateEmpty"></div>
    <ng-template #worklistTemplateData>
        <div *ngFor="let work of worklistFilter;" class="mb-5 px-5">
            <app-work-card [data]="work"></app-work-card>
        </div>
    </ng-template>
    <ng-template #worklistTemplateEmpty>
        <div class="flex flex-col justify-center items-center h-40v p-5 animate__animated animate__fadeIn">
            <h1 class="text-white">No hay proyectos por ahora :(</h1>
            <ng-lottie [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
        </div>
    </ng-template>
</div>