<div
    class="w-full min-h-screen  absolute  z-40 flex items-center justify-start overscroll-y-none overscroll-none filter bg-black">
    <div class="mx-5 overscroll-y-none overscroll-none fixed">
        <div class="grid text-5xl font-bold overscroll-y-none overscroll-none">
            <a href="#" *ngFor="let option of options;" class="py-1 active:text-yellow-400 w-screen">
                {{ option.title }}
            </a>
            <br>
            <a href="#" class="text-yellow-400 underline">Hire us</a>
        </div>
    </div>
</div>